.background
{

    background-color: #e0e0e0;
    min-height: 100vh;
    overflow: auto;
    .storeMainBox
    {
        margin: 0 17.5vw 0 17.5vw;
        padding: 0 50px;
        background-color: #fafafa;
        color: #333333;
        width: 60vw;
        min-height: 100vh;
        overflow: auto;
    }
}

