.background
{
    background-color: #ffffff;
    min-height: 100vh;
    overflow: auto;
}

.productPageMainBox
{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #333333;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0));

  .productImagesAndBuyForm
  {
    display: flex;
    flex-direction: row;
    gap: 200px;
  }

  .productImages
  {
    width: 600px;
    background-color: #ffffff;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;

    img
    {
      width: 100%;
      height: auto;
    }
  }

  .productBuyForm
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    text-align: center;

    h1
    {
      margin-bottom: 10px;
    }

    p
    {
      margin-bottom: 5px;
    }

  }

  .productDetailsAndPriceHistory
  {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding: 0 15%;
  }
  .buttonWrapper
  {
    display: flex;
    justify-content: center;
  }
}



